extends pug/includes/main-header
block content
  section.advantages-wrap#advantages-wrap
    .container 
      h2.green-title наши преимущества
      .advantages
        .advantages__item 
          .advantages__icon
            +svg('wheel')
          h3.advantages__title Сам <br/>за штурвалом
          .advantages__text. 
            Стань капитаном и подари себе и своим близким незабываемые впечатления!
        .advantages__item 
          .advantages__icon
            +svg('driver-license')
          h3.advantages__title Прав <br/>не требуется!
          .advantages__text. 
            Наши катера не требуют регистрации в ГИМС, соотвественно для управления ими не нужны права ГИМС
        .advantages__item 
          .advantages__icon
            +svg('boat')
          h3.advantages__title Комфортные катера
          .advantages__text. 
            Наши катера оборудованы дистанционным управлением, мультимедийной системой, мягкими сиденьями и ходовым тентом, который укроет вас в случае дождя
        .advantages__item 
          .advantages__icon
            +svg('shield')
          h3.advantages__title Гарантируем безопасность
          .advantages__text. 
            Наши катера надежны и безопасны, имеют сертификат соответствия  "О безопасности маломерных судов", но если вам все-таки понадобится помощь - наш инструктор примчится на быстром гидроцикле!
  section.opportunities 
    .container
      .opportunities__wrap
        .opportunities__left 
          .photo-wrap 
            img(src=require('./img/1.jpg'))
        .opportunities__right
          .app-right-block 
            .app-right-block__title Возможность увидеть <br/>Москву с новой <br/>стороны
            .app-right-block__text.
              Встаньте за штурвал белоснежного небольшого, но современного катера. Компания из 2-4 человек удобно расположится на мягких диванах, в сопровождении музыкальной аудиосистемы, а комфорта добавит система подогрева салона. От ветра и брызг защитит ветровое стекло и высокие борта. Успейте испытать наше уникальное предложение!
            a(href="#inline").button-2.fancybox Выбрать Маршруты
  .booking 
    .parallax
      .container
        .booking__title Забронируйте катер в два клика
        .booking__text.
          Переходите по ссылке, выбирайте удобное время время для аренды, катер или маршрут и отправляйтесь в путешествие по водным просторам Москвы!   
        a(href="#inline").button-3.fancybox Перейти к бронированию   
  
  .route#route
    .container
      h2.green-title Наши Маршруты
      p.route-text. 
        Мы предлагаем 3 наиболее популярных маршрута, тем не менее вы можете придумать свой!
      .rout-tabs
        ul.rout-tabs__caption
          li.rout-item.active Маршрут 1
          li.rout-item Маршрут 2
          li.rout-item Маршрут 3
        .rout-tabs__content.active
          .rout-tabs__wrap
            .rout-tabs__left 
              .rout-tabs__img
                img(src=require('./img/2.jpg'))
            .rout-tabs__right
              h4.route__title Весь центр городапо москве-реке
              p. 
                Встаньте за штурвал белоснежного небольшого, но современного катера. Компания из 2-4 человек удобно расположится на мягких диванах, в сопровождении музыкальной аудиосистемы, а комфорта добавит система подогрева салона. От ветра и брызг защитит ветровое стекло и высокие борта. Успейте испытать наше уникальное предложение!
        .rout-tabs__content
          .rout-tabs__wrap
            .rout-tabs__left 
              .rout-tabs__img
                img(src=require('./img/1.jpg'))
            .rout-tabs__right
              h4.route__title Весь центр городапо москве-реке
              p. 
                Встаньте за штурвал белоснежного небольшого, но современного катера. Компания из 2-4 человек удобно расположится на мягких диванах, в сопровождении музыкальной аудиосистемы, а комфорта добавит система подогрева салона. От ветра и брызг защитит ветровое стекло и высокие борта. 
        .rout-tabs__content
          .rout-tabs__wrap
            .rout-tabs__left 
              .rout-tabs__img
                img(src=require('./img/2.jpg'))
            .rout-tabs__right
              h4.route__title Весь центр города по москве-реке
              p. 
                Встаньте за штурвал белоснежного небольшого, но современного катера. Компания из 2-4 
  section.hiw-wrap
    .container 
      h2.green-title Как это работает?
      .hiw
        .hiw__item 
          .hiw__icon
            +svg('wheel')
          h3.hiw__title Бронируй дату и время
          .hiw__text. 
            Стань капитаном и подари себе и своим близким незабываемые впечатления!
        .hiw__item 
          .hiw__icon
            +svg('wheel')
          h3.hiw__title Вноси предоплату на сайте
          .hiw__text. 
            Стань капитаном и подари себе и своим близким незабываемые впечатления!
        .hiw__item 
          .hiw__icon
            +svg('wheel')
          h3.hiw__title Проходи инструктаж
          .hiw__text. 
            Стань капитаном и подари себе и своим близким незабываемые впечатления!
        .hiw__item 
          .hiw__icon
            +svg('wheel')
          h3.hiw__title Отправляйся на прогулку
          .hiw__text. 
            Стань капитаном и подари себе и своим близким незабываемые впечатления!  
  section.pricelist#pricelist
    .parallax-2
      .parallax-3
        .container
          h4.pricelist__title Стоимость прогулки
          p.pricelist__text.   
            Мы предлагаем 3 наиболее популярных маршрута, тем не менее вы можете придумать свой!
          table.pricelist__table 
            tr 
              th Время
              th Будние
              th Выходные
            tr 
              td 1 час
              td 3500 ₽ 
              td 4500 ₽
            tr 
              td 1 час
              td 3500 ₽ 
              td 4500 ₽
            tr 
              td 1 час
              td 3500 ₽ 
              td 4500 ₽
            tr 
              td 1 час
              td 3500 ₽ 
              td 4500 ₽
            tr 
              td 1 час
              td 3500 ₽ 
              td 4500 ₽
          a(href="#inline").button-3.fancybox Забронировать
  .parallax-4
    section.walks-wrap
      .container
        h2.green-title Тематические прогулки
        p.walks__text. 
          Мы предлагаем 3 наиболее популярных маршрута, тем не менее вы можете придумать свой!
        .walks-carousel.owl-carousel
          .walks-carousel__item
            h3.walks-carousel__title Свадьба на катере
            ul.walks-carousel__list  
              li Свадьба до 4 часов на воде
              li Шампанское и закуски
              li Церемония венчания с ведущим
              li Фотограф на другом катере
              li Приятные эмоции и воспоминания
            .walks-carousel__bottom 
              .walks-carousel__old-price 22 990 ₽ 
              .walks-carousel__new-price 12 990 ₽
              a(href="#inline").button-3.fancybox Забронировать
          .walks-carousel__item
            h3.walks-carousel__title День рождения на катере
            ul.walks-carousel__list  
              li Свадьба до 4 часов на воде
              li Шампанское и закуски
              li Церемония венчания с ведущим
              li Фотограф на другом катере
              li Приятные эмоции и воспоминания
            .walks-carousel__bottom 
              .walks-carousel__old-price 22 990 ₽ 
              .walks-carousel__new-price 12 990 ₽
              a(href="#inline").button-3.fancybox Забронировать
          .walks-carousel__item
            h3.walks-carousel__title Свадьба на катере
            ul.walks-carousel__list  
              li Свадьба до 4 часов на воде
              li Шампанское и закуски
              li Церемония венчания с ведущим
              li Фотограф на другом катере
              li Приятные эмоции и воспоминания
            .walks-carousel__bottom 
              .walks-carousel__old-price 22 990 ₽ 
              .walks-carousel__new-price 12 990 ₽
              a(href="#inline").button-3.fancybox Забронировать
          .walks-carousel__item
            h3.walks-carousel__title День рождения на катере
            ul.walks-carousel__list  
              li Свадьба до 4 часов на воде
              li Шампанское и закуски
              li Церемония венчания с ведущим
              li Фотограф на другом катере
              li Приятные эмоции и воспоминания
            .walks-carousel__bottom 
              .walks-carousel__old-price 22 990 ₽ 
              .walks-carousel__new-price 12 990 ₽
              a(href="#inline").button-3.fancybox Забронировать
    section.walks-wrap-2  
      .container
        h2.green-title Условия проката
        .walks__block
          .walks__item 
            .walks__icon
              +svg('wheel')
            h3.walks__title Паспорт
            .walks__text. 
              Стань капитаном и подари себе и своим близким незабываемые впечатления!
          .walks__item 
            .walks__icon
              +svg('wheel')
            h3.walks__title Залог
            .walks__text. 
              Стань капитаном и подари себе и своим близким незабываемые впечатления!
          .walks__item 
            .walks__icon
              +svg('wheel')
            h3.walks__title Проходи инструктаж
            .walks__text. 
              Стань капитаном и подари себе и своим близким незабываемые впечатления!
          .walks__item 
            .walks__icon
              +svg('wheel')
            h3.walks__title Отправляйся на прогулку
            .walks__text. 
              Стань капитаном и подари себе и своим близким незабываемые впечатления! 
  section.sertificates-wrap
    .container
      .sertificates
        h2.sertificates__title Подарочные сертификаты <br/>на аренду катера
        p.
          Вы также можете приобрести подарочный сертификат на аренду катера без капитана - сделайте по-настоящему незабываемый и уникальный подарок, который запомнится надолго!
        a(href="#inline").button.fancybox Купить сертификат
  section.gallery-wrap#gallery-wrap  
    h2.green-title Наши фотографии
    .carousel-gallery.owl-carousel
      a(href="./img/g1.jpg" rel="gallery").fancybox
        img(src=require('./img/g1.jpg'))
      a(href="./img/g1.jpg" rel="gallery").fancybox
        img(src=require('./img/g2.jpg'))
      a(href="./img/g1.jpg" rel="gallery").fancybox
        img(src=require('./img/g3.jpg'))
      a(href="./img/g1.jpg" rel="gallery").fancybox
        img(src=require('./img/g4.jpg'))
      a(href="./img/g1.jpg" rel="gallery").fancybox
        img(src=require('./img/g4.jpg')) 
  section.faq-wrap#faq-wrap
    .container  
      h2.green-title Ответы на часто задаваемые вопросы
      p.faq__text Здесь вы найдете ответы на интересующие вас вопросы
      .faq
        .faq__question Нужны ли права?  
        .faq__answer. 
          Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .faq__question Можно ли пить или курить во время прогулки?  
        .faq__answer. 
          Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .faq__question Сколько человек может находиться на борту? 
        .faq__answer. 
          Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий.
        .faq__question Что у вас за катер?
        .faq__answer. 
          Не следует, однако забывать, что реализация намеченных плановых заданий способствует подготовки и реализации направлений прогрессивного развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий.
  section.map-wrap#map-wrap
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A26706e9f1ac4f4afe6eebed6c726d504249448e3aa1adb64979e6ed32214b8f0&amp;width=100%25&amp;height=670&amp;lang=ru_RU&amp;scroll=true"></script>
    .container
      .map__block
        h4.map__title Контакты
        ul.map__contacts 
          li <b>Адрес:</b> <br/>г. Москва, ул. Козленская 33
          li <b>Контактные телефоны:</b> <br/>
            a(href="tel:+78008672332") +7 (800) 867-23-32
          li <b>E-mail:</b> <br/>
            a(href="mailto:yacht@gmail.com") yacht@gmail.com
          li 
            a(href="#") 
              +svg('instagram')
  include pug/includes/footer
  